body, .footer{ background: #F8F7F1; font-family: 'Roboto Condensed', sans-serif;font-size: x-large;}
h1, h2, h3, h4, h5, h6{font-family: 'Roboto Mono', monospace;font-size: 3em;}
ul li a{font-family: 'Roboto Mono', monospace ;}
a{text-decoration: none;color: black;}
strong, em{font-size: 0.9em; }
.coordonnees{font-size: large;}
.navbar{min-height: 100px;}


.up{background-color: rgb(255, 255, 255);color: black;position: fixed;bottom: 10%;right: 5%;border-radius: 50%;}

.formations{background-color: #fff;}

.experiences{background-color: #fff;}

.staps, .rncp, .openClassroom, .vh{border: 1px solid black;border-radius: 30px;min-height: 150px; box-shadow: 5px 10px 5px grey ;}

.overlay{position:relative;box-shadow: 0px 5px 20px grey;}
.content{opacity: 0;color: white;position: absolute;top: 20%;left: 1%;}
.content1{opacity: 0;color: white;position: absolute;top: 35%;left: 1%;}
.content2{opacity: 0;color: white;position: absolute;top: 10%;left: 1%;}
.overlay:hover img{
        filter:brightness(20%);
        transform:scale(1.1);
        transition:all .7s;
        
}
.overlay:hover .content, .overlay:hover .content1, .overlay:hover .content2{opacity: 1;transition-duration: 1.8s;z-index: 4;}
.gmail{max-width: 50px;}
.linkedin{max-width: 50px;}
  

.interets{position: absolute;top: 55%;right: 10%;}
.activite{max-width:130px ;}
.sports{max-width: 150px;}
.piano{max-width: 120px;}

/* Gérer l'apparition */

.reveal [class*="reveal-"]{
        opacity: 0!important;
        transform: translateY(60px)!important;
    }
    
    [class*="reveal-"]{
        transition: 1.5s cubic-bezier(.5, 0, 0, 1);
    }
    
    .reveal-2{
        transition-delay: .1s;;
    }
    
    .reveal-3{
        transition-delay: .3s;;
    }
    
    .reveal-4{
        transition-delay: .5s;;
    }

    .reveal-5{
        transition-delay: .7s;;
    }