<div class="footer reveal">
	<div class="offset-2">
		<h3 class="m-3 h4 reveal-2">Me contacter :
		</h3>
		<div class="link col-3 offset-1">
			<div class="gmail col-1 reveal-3">
				<a href="mailto:bastien.gondard2@gmail.com" class="d-flex">
                <div class="col-12 my-auto">
					<img src="{{ asset('images/gmail.png') }}" class="img-fluid" alt="">
                    </div>
					<span class="p-3 coordonnees">
						bastien.gondard2@gmail.com</span>
				</a>

			</div>
			<div class="tel col-1 reveal-4">
				<a href="tel:06 46 26 03 61" class="d-flex">
                <div class="col-12 my-auto">
					<img src="{{ asset('images/tel.png') }}" class="img-fluid" alt="">
                    </div>
					<span class="p-3 coordonnees">
						06.46.26.03.61</span>
				</a>
			</div>
			<div class="linkedin col-1 reveal-5">
				<a href="https://www.linkedin.com/in/bastien-gondard/" target="_blank" class="d-flex">
					<div class="col-12 my-auto">
						<img src="{{ asset('images/icon-linkedin.png') }}" class="img-fluid" alt="">
					</div>
					<span class="p-3 coordonnees">Bastien</span>
				</a>
			</div>
		</div>
	</div>
</div>
