<div class="footer">
    <h3>Me contacter : </h3>
    <a href="mailto:bastien.gondard2@gmail.com">bastien.gondard2@gmail.com</a>
    06 46 26 03 61
    <a href="https://www.linkedin.com/in/bastien-gondard/">LinkedIn</a>
</div>